app = 'dr-rag-api'
primary_region = 'sin'

[build]

[env]
  USE_OPENROUTER = 'true'
  USE_OPENAI_EMBEDDINGS = 'false'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'dr_rag_data'
  destination = '/data'
  initial_size = 1

[[http_service.checks]]
  grace_period = "30s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"
